[submodule "ips/caches"]
	path = ips/caches
	url = ../panda_cache
[submodule "ips/lsu"]
	path = ips/lsu
	url = ../panda_lsu
[submodule "ips/wishbone"]
	path = ips/wishbone
	url = ../panda_wishbone
[submodule "ips/timer_module"]
	path = ips/timer_module
	url = ../panda_timer
[submodule "ips/gpio_module"]
	path = ips/gpio_module
	url = ../panda_gpio
[submodule "ips/debug_module"]
	path = ips/debug_module
	url = ../panda_debug
